USE [master]
GO
/****** Object:  Database [Console_Api]    Script Date: 09-12-2022 15:47:49 ******/
CREATE DATABASE [Console_Api]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Console_Api', FILENAME = N'C:\Users\mkcs1\Console_Api.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Console_Api_log', FILENAME = N'C:\Users\mkcs1\Console_Api_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Console_Api].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Console_Api]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 09-12-2022 15:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[Uuid] [uniqueidentifier] NOT NULL,
	[Type] [varchar](max) NULL,
	[Status] [varchar](max) NULL,
	[ExpiresAt] [varchar](max) NULL,
	[CreatedAt] [varchar](max) NULL,
	[UpdatedAt] [varchar](max) NULL,
	[InstantRental] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Needs]    Script Date: 09-12-2022 15:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Needs](
	[NeedId] [uniqueidentifier] NOT NULL,
	[Duration] [varchar](max) NULL,
	[MoveInDate] [varchar](max) NULL,
	[TypesOfItems] [varchar](max) NULL,
	[ReasonForStorage] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[NeedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Leads] ([Uuid], [Type], [Status], [ExpiresAt], [CreatedAt], [UpdatedAt], [InstantRental]) VALUES (N'879ae152-23eb-4cd9-aafa-0005cbf8da55', N'rental', N'converted', N'2022-09-06 19:32:59', N'2022-09-06 19:32:58', N'2022-11-23 04:44:59', 1)
INSERT [dbo].[Leads] ([Uuid], [Type], [Status], [ExpiresAt], [CreatedAt], [UpdatedAt], [InstantRental]) VALUES (N'2872655d-d203-4e0b-98ae-0017195f63a2', N'quote', N'expired', N'2022-09-21 06:00:00', N'2022-09-07 14:41:42', N'2022-11-23 04:44:59', 0)
INSERT [dbo].[Leads] ([Uuid], [Type], [Status], [ExpiresAt], [CreatedAt], [UpdatedAt], [InstantRental]) VALUES (N'efd8da4b-36c2-4bdb-820b-004e7be48151', N'reservation', N'expired', N'2022-10-08 06:00:00', N'2022-09-08 20:00:04', N'2022-11-23 04:44:59', 0)
GO
INSERT [dbo].[Needs] ([NeedId], [Duration], [MoveInDate], [TypesOfItems], [ReasonForStorage]) VALUES (N'4d01a764-47e2-498c-b50a-000922e35f17', N'2-3 Months', N'2022-09-09', N'Advice the customer of the onetime 26.00-dollar admin fee and the protection plan, customer is storing Boxes and clothes', N'need-space')
INSERT [dbo].[Needs] ([NeedId], [Duration], [MoveInDate], [TypesOfItems], [ReasonForStorage]) VALUES (N'f9df56d1-4596-420c-b59e-005bbed7a09e', N'2-3 Months', N'2022-09-08', N'10x10', N'moving')
INSERT [dbo].[Needs] ([NeedId], [Duration], [MoveInDate], [TypesOfItems], [ReasonForStorage]) VALUES (N'884df6f4-3617-4426-80f4-009489fa98aa', N'Longer than 1 Year', N'2022-09-07', N'mazda x30', N'vehicle')
GO
USE [master]
GO
